*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
	background: orange;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: orange;
    color: black;
}
h1{
    color: white;
    margin-bottom: 10px;
    text-decoration: solid;
}
.container p{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: orange;
}
button{
    background: orange;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0 px rgba(28,0,181,0.3);
}
.contact-left h3{
    color: orange;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
    text-decoration: solid;
    text-shadow: #000;
    font-weight: bolder;
}


  body{
    height: 100vh;
    background-color: #000;
     background-size: cover;
    background-position: center;

  }

  li{
    list-style: none;

  }

  a{
    text-decoration: none; 
    color:#fff;
    font-size: 1rem;

  }



  a:hover{
    color: orange;
  }

  /* header */

  header{
    position: relative;
    padding: 0 2rem;
  }

  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .list_el{
    display: flex;
    gap:5rem;

  }

  .navbar .toggleButton{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .Button{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease ;
  }

  .Button:hover{
    scale: 1.05;
    color: #fff;

  }

  .Button:active{
    scale: 0.95;
  }

  /* drop down*/

  .dropdown_menu{

    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .dropdown_menu.open{
    height: 240px;
  }

  .dropdown_menu .Button{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section#hero{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
   
  }

  #hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }


  .description{
   
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-align: justify;

    width: 1080px;
    -webkit-padding-start: 260px;
  }

  @media(max-width:992px ){
    .navbar .list_el,
    .navbar .Button {
      display: none;
    }

    .navbar .toggleButton{
      display: block;
    }
    .dropdown_menu{
      display: block;
    }

  @media(max-width:576px ){
    .dropdown_menu{
      left: 2rem ;
      width: unset;

    }
  }



  }